<form *ngIf="formGroup" class="form-container" [formGroup]="formGroup" (ngSubmit)="submit()">
  <div class="form-fields">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{TRANSLATION_KEYS.component.department_form.name.label | translate}}</mat-label>
      <input matInput required formControlName="name">
      <mat-error *ngIf="formControls.name.errors?.required">
        {{TRANSLATION_KEYS.component.department_form.name.errors.required | translate}}
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{TRANSLATION_KEYS.component.department_form.description.label | translate}}</mat-label>
      <textarea #description matInput formControlName="description" [maxLength]="512"></textarea>
      <mat-hint align="end">{{description.value.length}} / 512</mat-hint>
    </mat-form-field>
  </div>
  <div class="form-actions">
    <button mat-fab color="primary" [disabled]="!hasChanges()"><i class="icon-check"></i></button>
  </div>
</form>
