<form (ngSubmit)="submit()" [formGroup]="formGroup" class="form-container">
  <div class="form-fields">
    <mat-form-field appearance="fill" class="full-width">
      <input [matAutocomplete]="userAutoCompete" formControlName="user" matInput required>
      <mat-label>{{TRANSLATION_KEYS.component.reservation_form.user.label | translate}}</mat-label>
      <mat-autocomplete #userAutoCompete="matAutocomplete" [displayWith]="displayUser">
        <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
          <span>{{user.givenName}} ({{user.principal}})</span>
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="formControls.user.errors?.requireSelect">
        {{TRANSLATION_KEYS.component.reservation_form.user.errors.required | translate}}
      </mat-error>
    </mat-form-field>

    <br>
    <mat-form-field appearance="fill" class="full-width">
      <input [matAutocomplete]="aboAutoCompete" formControlName="abo" matInput required>
      <mat-label>{{TRANSLATION_KEYS.component.reservation_form.abo.label | translate}}</mat-label>
      <mat-autocomplete #aboAutoCompete="matAutocomplete" [displayWith]="displayAbo">
        <mat-option *ngFor="let abo of filteredAbos | async" [value]="abo">
          <span>{{abo.title}}</span>
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="formControls.abo.errors?.requireSelect">
        {{TRANSLATION_KEYS.component.reservation_form.abo.errors.required | translate}}
      </mat-error>
    </mat-form-field>

    <br>
    <mat-form-field appearance="fill" class="full-width">
      <input [matAutocomplete]="roomAutoCompete" formControlName="room" matInput required>
<!--      <span *ngIf="formControls.room.value" matSuffix><small><i-->
<!--        class="icon-timer"></i> {{getAvailableContingentFor(formControls.room.value)}} {{TRANSLATION_KEYS.component.reservation_form.room.min | translate}}</small></span>-->
      <mat-label>{{TRANSLATION_KEYS.component.reservation_form.room.label | translate}}</mat-label>
      <mat-autocomplete #roomAutoCompete="matAutocomplete" [displayWith]="displayRoom">
        <mat-option *ngFor="let room of filteredRooms | async" [value]="room">
          <span>{{room.number}} {{room.name}}
<!--            <small class="dropdown-right-info"><i class="icon-timer"></i> {{getAvailableContingentFor(room)}} {{TRANSLATION_KEYS.component.reservation_form.room.min | translate}}</small>-->
          </span>
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="formControls.user.errors?.requireSelect">
        {{TRANSLATION_KEYS.component.reservation_form.user.errors.required | translate}}
      </mat-error>
    </mat-form-field>

    <br>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{TRANSLATION_KEYS.component.reservation_form.date.label | translate}}</mat-label>
      <input [matDatepicker]="date_date_picker" [min]="minDate" [max]="maxDate" formControlName="date" matInput required>
      <mat-datepicker-toggle [for]="date_date_picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #date_date_picker touchUi="true"></mat-datepicker>
      <mat-error *ngIf="formControls.date.errors?.required">
        {{TRANSLATION_KEYS.component.reservation_form.date.errors.required | translate}}
      </mat-error>
    </mat-form-field>
    <section *ngIf="slots | async as slots">
      <label *ngIf="slots.length > 0">{{TRANSLATION_KEYS.component.reservation_form.slots.label | translate}}</label>
      <br>
      <mat-radio-group class="flex-wrap-container" formControlName="slot" style="justify-content: space-between">
        <mat-radio-button *ngFor="let slot of slots" [value]="slot" class="radio-chip">{{slot.start | date: 'HH:mm'}}
          - {{slot.end | date: 'HH:mm'}} Uhr
        </mat-radio-button>
      </mat-radio-group>
    </section>
    <br>
    <div *ngIf="formControls.slot.value" class="flex-wrap-container">
      <mat-form-field appearance="fill">
        <input [format]="24" [max]="maxStart" [min]="minStart" [ngxTimepicker]="start_picker"
               formControlName="start"
               matInput type="time">
        <span matSuffix>{{TRANSLATION_KEYS.component.reservation_form.overall.clock | translate}}</span>
        <mat-label>{{TRANSLATION_KEYS.component.reservation_form.start.label | translate}}</mat-label>
        <ngx-material-timepicker #start_picker></ngx-material-timepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input [format]="24" [max]="maxEnd" [min]="minEnd" [ngxTimepicker]="end_picker"
               formControlName="end"
               matInput type="time">
        <span matSuffix>{{TRANSLATION_KEYS.component.reservation_form.overall.clock | translate}}</span>
        <mat-label>{{TRANSLATION_KEYS.component.reservation_form.end.label | translate}}</mat-label>
        <ngx-material-timepicker #end_picker></ngx-material-timepicker>
      </mat-form-field>
    </div>
    <mat-error *ngIf="contingentError | async as contingentError">{{contingentError}}</mat-error>

<!--    <section *ngIf="contingentAllocations">-->
<!--      <mat-card *ngFor="let allocation of contingentAllocations">-->
<!--        <div>{{allocation.abo.description}}</div>-->
<!--        <mat-slider-->
<!--          class="full-width"-->
<!--          [max]="allocation.max"-->
<!--          [min]="0"-->
<!--          [step]="1"-->
<!--          [thumbLabel]="true"-->
<!--          [tickInterval]="1"-->
<!--          [value]="allocation.value"-->
<!--          (change)="allocation.value = $event.value">-->
<!--        </mat-slider>-->
<!--      </mat-card>-->
<!--    </section>-->
    <!--    <div class="flex-wrap-container">-->
    <!--      <div [ngClass]="['info-field']">-->
    <!--        <small>{{TRANSLATION_KEYS.component.reservation_form.overall.contingent_before | translate}}</small>-->
    <!--        <span>{{contingentBefore}} {{TRANSLATION_KEYS.component.reservation_form.room.min | translate}}</span>-->
    <!--      </div>-->
    <!--      <div [ngClass]="['info-field', contingentAfter >= 0 ? '' : 'error']">-->
    <!--        <small>{{TRANSLATION_KEYS.component.reservation_form.overall.contingent_consumed | translate}}</small>-->
    <!--        <span>{{contingentConsumed}} {{TRANSLATION_KEYS.component.reservation_form.room.min | translate}}</span>-->
    <!--      </div>-->
    <!--      <div [ngClass]="['info-field', contingentAfter >= 0 ? '' : 'error']">-->
    <!--        <small>{{TRANSLATION_KEYS.component.reservation_form.overall.contingent_after | translate}}</small>-->
    <!--        <span>{{contingentAfter}} {{TRANSLATION_KEYS.component.reservation_form.room.min | translate}}</span>-->
    <!--      </div>-->
    <!--    </div>-->
    <br>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{TRANSLATION_KEYS.component.reservation_form.title.label | translate}}</mat-label>
      <input formControlName="title" matInput required>
      <mat-error *ngIf="formControls.title.errors?.required">
        {{TRANSLATION_KEYS.component.reservation_form.title.errors.required | translate}}
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{TRANSLATION_KEYS.component.reservation_form.description.label | translate}}</mat-label>
      <textarea #description [maxLength]="100" formControlName="description" matInput></textarea>
      <mat-hint align="end">{{description.value.length}} / 100</mat-hint>
    </mat-form-field>
    <mat-error *ngIf="formControls.end.errors?.missing_contingent">Nicht genügend Kontingent</mat-error>
    <br>
    <!--    <mat-form-field appearance="fill" class="full-width">-->
    <!--      <mat-label>{{TRANSLATION_KEYS.component.room_form.number.label | translate}}</mat-label>-->
    <!--      <input matInput required formControlName="number">-->
    <!--      <mat-error *ngIf="formControls.number.errors?.required">-->
    <!--        {{TRANSLATION_KEYS.component.room_form.number.errors.required | translate}}-->
    <!--      </mat-error>-->
    <!--    </mat-form-field>-->
    <!--    <br>-->
    <!--    <mat-form-field appearance="fill" class="full-width">-->
    <!--      <input [matAutocomplete]="departmentAutoCompete" formControlName="department" matInput required>-->
    <!--      <mat-label>{{TRANSLATION_KEYS.component.room_form.department.label | translate}}</mat-label>-->
    <!--      <mat-autocomplete #departmentAutoCompete="matAutocomplete" [displayWith]="displayDepartment">-->
    <!--        <mat-option *ngFor="let department of filteredDepartments | async" [value]="department">-->
    <!--          <span> {{department.name}}</span>-->
    <!--        </mat-option>-->
    <!--      </mat-autocomplete>-->
    <!--      <mat-error *ngIf="formControls.department.errors?.requireSelect">-->
    <!--        {{TRANSLATION_KEYS.component.room_form.department.errors.required | translate}}-->
    <!--      </mat-error>-->
    <!--    </mat-form-field>-->
    <!--    <br>-->
    <!--    <mat-form-field appearance="fill" class="full-width">-->
    <!--      <mat-label>{{TRANSLATION_KEYS.component.room_form.description.label | translate}}</mat-label>-->
    <!--      <textarea #description matInput formControlName="description" [maxLength]="512"></textarea>-->
    <!--      <mat-hint align="end">{{description.value.length}} / 512</mat-hint>-->
    <!--    </mat-form-field>-->
  </div>
  <div class="form-actions">
    <button [disabled]="!hasChanges()" color="primary" mat-fab><i class="icon-check"></i></button>
  </div>
</form>
