<div class="page">
  <div class="page-head">
    <component-toolbar [title]="TRANSLATION_KEYS.page.abo.detail.title | translate">
      <button *ngIf="canUpdate && abo | async" [routerLink]="['edit']" mat-icon-button>
        <i class="icon-createmode_editedit"></i>
      </button>
      <button (click)="deleteClicked(abo)" *ngIf="canDelete && abo | async as abo" mat-icon-button>
        <i class="icon-delete"></i>
      </button>
    </component-toolbar>
  </div>
  <div class="page-content">
    <div *ngIf="abo | async as abo" class="detail-page">
      <div class="page-header">
        <div class="page-header-avatar-container">
          <img [src]="abo.user.imageUrl" class="page-header-avatar"/>
        </div>
        <div class="page-header-title-container">
          <div class="page-title">{{abo.user.givenName}}</div>
          <div class="page-subtitle">{{abo.user.principal}}
          </div>
        </div>
      </div>
      <div class="page-section">
        <div class="page-section-header">{{TRANSLATION_KEYS.page.abo.detail.labels.description | translate}}:</div>
        <p class="page-section-content">{{abo.description}}</p>
        <p *ngIf="!abo.description"
           class="page-section-placeholder">{{TRANSLATION_KEYS.page.abo.detail.labels.no_description | translate}}</p>
      </div>
      <div class="page-section">
        <div class="page-section-header">{{TRANSLATION_KEYS.page.abo.detail.labels.details | translate}}:</div>
        <p class="page-section-content indented">
          <b>{{TRANSLATION_KEYS.page.abo.detail.labels.period | translate}}:</b>
          {{abo.start | date: (TRANSLATION_KEYS.page.abo.detail.formats.period_date | translate)}}
          -  {{abo.unlimited_end ? '&#8734;' : (abo.end | date: (TRANSLATION_KEYS.page.abo.detail.formats.period_date | translate))}}
        </p>
        <p class="page-section-content indented"><b>{{TRANSLATION_KEYS.page.abo.detail.labels.renew | translate}}
          :</b> {{TRANSLATION_KEYS.page.abo.detail.labels.weekly | translate}}</p>
        <p class="page-section-content indented">
          <b>{{TRANSLATION_KEYS.page.abo.detail.labels.contingent | translate}}
            :</b> {{abo.unlimited_contingent ? '&#8734;' : abo.contingent}} {{TRANSLATION_KEYS.page.abo.detail.labels.minutes | translate}}
        </p>
      </div>
      <div class="page-section">
        <div class="page-section-header">
          {{
          abo.rooms.length > 1
            ? (TRANSLATION_KEYS.page.abo.detail.labels.rooms | translate)
            : (TRANSLATION_KEYS.page.abo.detail.labels.room | translate)
          }}:
        </div>
        <div class="card-list">
          <div *ngFor="let room of abo.rooms" [routerLink]="['/', 'rooms', room.id]" class="card-list-item" mat-ripple>
            <component-room-preview-card [room]="room"></component-room-preview-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
