@import "../../../../styles/theme";

.sidenav {
  height: 100%;

  .sidenav-drawer {
    width: 326px;

    .sidenav-close-btn {
      position: absolute;
      right: 8px;
      top: 8px;
    }

  }

  .user-preview-container {
    display: flex;
    width: 100%;

    .user-avatar {
      @extend %avatar;
      margin: 16px;
    }

    .user-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      padding: 16px 48px 16px 0;

      .user-name {
        @extend %title;
      }

      .user-principal {
        @extend %sub-title;
      }
    }
  }

}
