<div class="page">
  <div class="page-head">
    <component-toolbar [title]="TRANSLATION_KEYS.page.room.detail.title | translate">
      <button (click)="openQRDialog(room)" *ngIf="room | async as room" mat-icon-button>
        <i class="icon-qrcode"></i>
      </button>
      <button *ngIf="canUpdate && room | async as room" [routerLink]="['edit']" mat-icon-button>
        <i class="icon-createmode_editedit"></i>
      </button>
      <button (click)="deleteClicked(room)" *ngIf="canDelete && room | async as room" mat-icon-button>
        <i class="icon-delete"></i>
      </button>
    </component-toolbar>
  </div>
  <div class="page-content">
    <div *ngIf="room | async as room" class="detail-page">
      <div class="page-title">{{room.name}}</div>
      <div class="page-subtitle">{{TRANSLATION_KEYS.page.room.detail.labels.room | translate}} {{room.number}}
        - {{room.department.name}}</div>
      <div class="page-avatar-container"><img class="page-avatar" [src]="room.imageUrl"></div>
      <div class="page-section">
        <div class="page-section-header">{{TRANSLATION_KEYS.page.room.detail.labels.description | translate}}:</div>
        <p class="page-section-content">{{room.description}}</p>
        <p *ngIf="!room.description"
           class="page-section-placeholder">{{TRANSLATION_KEYS.page.room.detail.labels.no_description | translate}}</p>
      </div>
      <div class="page-section">
        <div class="page-section-header">Abteilung:</div>
        <div mat-ripple class="card-container" [routerLink]="['/','departments', room.department.id]">
          <component-department-preview-card [department]="room.department" mat-ripple></component-department-preview-card>
        </div>
      </div>
    </div>
  </div>
  <div class="page-actions">
    <!--    <button *ngIf="(canCreate | async) == true" mat-fab color="primary" routerLink="/departments/create"><i-->
    <!--      class="iconClass-add"></i></button>-->
  </div>
</div>
