<div class="page">
  <div class="page-head">
    <component-toolbar *ngIf="departments | async as departments" [filterableComponents]="[department_list]"
                       [searchEnabled]="true"
                       [title]="TRANSLATION_KEYS.page.department.list.title | translate"></component-toolbar>
  </div>
  <div class="page-content">
    <component-department-list #department_list (itemClicked)="onItemClicked($event)"
                               [items]="departments | async"></component-department-list>
  </div>
  <div class="page-actions">
    <button (click)="onCreateClicked()" *ngIf="canCreate" color="primary" mat-fab><i
      class="icon-add"></i></button>
  </div>
</div>


