<div class="page">
  <div class="page-head">
    <component-toolbar (search)="onSearch($event, rooms)" *ngIf="rooms | async as rooms" [searchEnabled]="true"
                       [title]="TRANSLATION_KEYS.page.room.list.title | translate"></component-toolbar>
  </div>
  <div class="page-content">
    <div *ngIf="filteredRooms" class="card-list">
      <div class="card-list-item" *ngFor="let room of filteredRooms" mat-ripple [routerLink]="['/', 'rooms', room.id]">
        <component-room-preview-card [room]="room"></component-room-preview-card>
      </div>
    </div>
  </div>
  <div class="page-actions">
    <button *ngIf="canCreate" mat-fab color="primary" routerLink="/rooms/create"><i
      class="icon-add"></i></button>
  </div>
</div>
