<div class="page">
  <div class="page-head">
<!--    <component-toolbar [filterableComponents]="[aboList]" [searchEnabled]="true"-->
<!--                       [title]="TRANSLATION_KEYS.page.abo.list.titles.all | translate"></component-toolbar>-->
  </div>
  <div class="page-content">
    <component-abo-list [items]="abos | async" (itemClicked)="onItemClicked($event)" #aboList></component-abo-list>
  </div>
  <div class="page-actions">
    <button *ngIf="canCreate" color="primary" mat-fab (click)="onCreateClicked()"><i
      class="icon-add"></i></button>
  </div>
</div>


