<mat-card *ngIf="abo" class="horizontal-card">
  <div class="card-avatar-container">
    <img class="card-avatar" src="../../../../assets/img/clock.svg"/>
    <div class="card-avatar-overlay">
      {{abo.unlimited_contingent ? '&#8734;' : abo.contingent}}
      <small>{{TRANSLATION_KEYS.component.abo_preview_card.labels.minutes | translate}}</small>
    </div>
  </div>
  <div class="card-content">
    <div *ngIf="showUsername" class="card-subtitle">{{abo.title}}</div>
    <div *ngIf="showUsername" class="card-title">{{abo.user.givenName}} ({{abo.user.principal}})</div>
    <div *ngIf="!showUsername" class="card-title">{{abo.title}}</div>
    <div class="card-description">
      <div>
        {{TRANSLATION_KEYS.component.abo_preview_card.labels.period | translate}}
        : {{abo.start | date: (TRANSLATION_KEYS.component.abo_preview_card.formats.period_date | translate)}}
        -  {{abo.unlimited_end ? '&#8734;' : (abo.end | date: (TRANSLATION_KEYS.component.abo_preview_card.formats.period_date | translate))}}
      </div>
      <div>
        {{
        abo.rooms.length > 1
          ? (TRANSLATION_KEYS.component.abo_preview_card.labels.rooms | translate)
          : (TRANSLATION_KEYS.component.abo_preview_card.labels.room | translate)
        }}:
        <span
          *ngFor="let room of abo.rooms; let i = index"> {{room.number}} {{i < abo.rooms.length - 1 ? '-' : ''}}</span>
      </div>
    </div>
  </div>
</mat-card>
