<div class="page">
  <div class="page-head">
    <component-toolbar [title]="TRANSLATION_KEYS.page.department.detail.title | translate">
      <button *ngIf="canUpdate && department | async as department" [routerLink]="['edit']" mat-icon-button><i
        class="icon-createmode_editedit"></i></button>
      <button (click)="deleteClicked(department)" *ngIf="canDelete && department | async as department" mat-icon-button>
        <i class="icon-delete"></i></button>
    </component-toolbar>
  </div>
  <div class="page-content">
    <div *ngIf="department | async as department" class="detail-page">
      <div class="page-title">{{department.name}}</div>
      <div class="page-avatar-container"><img class="page-avatar" [src]="department.imageUrl"></div>
      <div class="page-section">
        <div class="page-section-header">{{TRANSLATION_KEYS.page.department.detail.labels.description | translate}}:
        </div>
        <p class="page-section-content">{{department.description}}</p>
        <p *ngIf="!department.description"
           class="page-section-placeholder">{{TRANSLATION_KEYS.page.department.detail.labels.no_description | translate}}</p>
      </div>
      <div class="page-section">
        <div class="page-section-header">{{TRANSLATION_KEYS.page.department.detail.labels.rooms | translate}}:</div>

        <ng-template #loadRoomsProgressBar>
          <mat-progress-spinner class="spinner" color="primary" diameter="40"
                                mode="indeterminate"></mat-progress-spinner>
        </ng-template>

        <div *ngIf="rooms | async as rooms; else loadRoomsProgressBar">
          <div class="card-list">
            <div *ngFor="let room of rooms" [routerLink]="['/', 'rooms', room.id]" class="card-list-item" mat-ripple>
              <component-room-preview-card [room]="room"></component-room-preview-card>
            </div>
          </div>
          <p *ngIf="rooms.length < 1" class="page-section-placeholder">
            {{TRANSLATION_KEYS.page.department.detail.labels.no_room | translate}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="page-actions">
    <!--    <button *ngIf="(canCreate | async) == true" mat-fab color="primary" routerLink="/departments/create"><i-->
    <!--      class="icon-add"></i></button>-->
  </div>
</div>

