<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <button (click)="openSidenav()" mat-icon-button>
      <i class='icon-menu'></i>
    </button>
    <h4 *ngIf="title &&(!searchEnabled || !searchOpened)">{{title}}</h4>
    <span *ngIf="title && (!searchEnabled || !searchOpened)" class="spacer"></span>

    <button *ngIf="searchEnabled && !searchOpened" mat-icon-button (click)="searchOpened = true"><i class="icon-search"></i></button>

    <mat-form-field *ngIf="searchEnabled && searchOpened" class="search-input" [floatLabel]="'never'">
      <input type="text" matInput [placeholder]="TRANSLATION_KEYS.toolbar.search | translate" (input)="onChange(search.value)" #search>
    </mat-form-field>
    <button *ngIf="searchEnabled && searchOpened" mat-icon-button (click)="searchOpened = false"><i class="icon-clearclose"></i></button>
    <ng-content></ng-content>
  </mat-toolbar-row>
</mat-toolbar>
