<div class="page">
  <div class="page-head">
    <component-toolbar (search)="onSearch($event)" [searchEnabled]="true" [title]="title"></component-toolbar>
  </div>
  <div class="page-content">
    <div *ngIf="filteredAbos | async as filteredAbos" class="card-list">
      <div *ngFor="let abo of filteredAbos" [routerLink]="['/', 'abos', abo.id]" class="card-list-item" mat-ripple>
        <component-abo-preview-card [abo]="abo" [showUsername]="showUsername"></component-abo-preview-card>
      </div>
    </div>
  </div>
  <div class="page-actions">
    <button *ngIf="canCreate" color="primary" mat-fab routerLink="/abos/create"><i
      class="icon-add"></i></button>
  </div>
</div>


