<mat-card *ngIf="reservation" class="horizontal-card">
  <div class="card-avatar-container">
    <img class="card-avatar not_rounded" src="../../../../assets/img/kalender.svg"/>
    <!--    <div class="card-avatar-overlay">-->
    <!--      {{abo.unlimited_contingent ? '&#8734;' : abo.contingent}}-->
    <!--      <small>{{TRANSLATION_KEYS.component.abo_preview_card.labels.minutes | translate}}</small>-->
    <!--    </div>-->
  </div>
  <div class="card-content">
    <div class="card-subtitle">{{reservation.room.number}} {{reservation.room.name}}</div>
    <div class="card-title">{{reservation.title}}</div>
    <!--    <div *ngIf="!showUsername" class="card-title">{{abo.title}}</div>-->
    <div class="card-description">
      {{reservation.start | date: (TRANSLATION_KEYS.date.long_date | translate)}}
      {{
      TRANSLATION_KEYS.date.time_x_to_y_range | translate: {
        x: reservation.start | date: (TRANSLATION_KEYS.date.time | translate),
        y: reservation.end | date: (TRANSLATION_KEYS.date.time | translate)
      }
      }}
      <div>{{getCuttedDescription()}}</div>
      <!--      <div>-->
      <!--        {{TRANSLATION_KEYS.component.abo_preview_card.labels.period | translate}}-->
      <!--        : {{abo.start | date: (TRANSLATION_KEYS.component.abo_preview_card.formats.period_date | translate)}}-->
      <!--        -  {{abo.unlimited_end ? '&#8734;' : (abo.end | date: (TRANSLATION_KEYS.component.abo_preview_card.formats.period_date | translate))}}-->
      <!--      </div>-->
      <!--      <div>-->
      <!--        {{-->
      <!--        abo.rooms.length > 1-->
      <!--          ? (TRANSLATION_KEYS.component.abo_preview_card.labels.rooms | translate)-->
      <!--          : (TRANSLATION_KEYS.component.abo_preview_card.labels.room | translate)-->
      <!--        }}:-->
      <!--        <span-->
      <!--          *ngFor="let room of abo.rooms; let i = index"> {{room.number}} {{i < abo.rooms.length - 1 ? '-' : ''}}</span>-->
      <!--      </div>-->
    </div>
  </div>
</mat-card>
