<mat-card *ngIf="room" class="horizontal-card">
  <div class="card-avatar-container">
    <img class="card-avatar" [src]="room.imageUrl ? room.imageUrl : '/assets/img/room.svg'"/>
    <div  (click)="toggleSelect()" [class]="'avatar-checkbox' + (isSelected() ? ' selected': '')"><i class="icon-check"></i></div>
  </div>
  <div class="card-content">
    <div class="card-subtitle">Raum {{room.number}} - {{room.department.name}} </div>
    <div class="card-title">{{room.name}}</div>
    <div class="card-description">{{room.description | preview: 60}}</div>
  </div>
</mat-card>
