<div class="page">
  <div class="page-head">
    <component-toolbar [title]="TRANSLATION_KEYS.page.reservation.create.title | translate"></component-toolbar>
  </div>
  <div class="page-content">
    <component-reservation-form
      (onSubmit)="onSubmit($event)"
      *ngIf="preparationFinished"
      [initialRoomId]="initialRoomId"
      [initialStart]="initialStart"
      [initialUserId]="initialUserId"
    ></component-reservation-form>
    <!--    <component-reservation-form (onSubmit)="onSubmit($event)" [user]="" class="fill-page-height"></component-reservation-form>-->
  </div>
</div>
